<div class="main">
  <div class="cancel-group">
    <button nz-button nzType="primary" routerLink="/welcome">
      <i nz-icon nzType="vertical-right" nzTheme="outline"></i>
      Выход
    </button>
  </div>

<!--  <div class="passport-box">-->
<!--    &lt;!&ndash;    &ndash;&gt;-->
<!--    <div class="pass-block">-->

<!--      <div class="form__group field">-->
<!--        <input nz-input type="input" class="form__field" placeholder="cardNumber" name="cardNumber" id='cardNumber' required/>-->
<!--        <label for="cardNumber" class="form__label">Card Number</label>-->
<!--      </div>-->


<!--      <div class="form__group field">-->
<!--        <input nz-input type="input" class="form__field" placeholder="expiry" name="expiry" id='expiry' required/>-->
<!--        <label for="expiry" class="form__label">Expiry Date</label>-->
<!--      </div>-->

<!--    </div>-->

<!--  </div>-->

<!--  <div class="card">-->

<!--    <nz-card class="card-block">-->


<!--    </nz-card>-->
<!--  </div>-->



</div>
