<div class="main">
  <div class="cancel-group">
    <button nz-button nzType="primary" routerLink="/welcome">
      <i nz-icon nzType="vertical-right" nzTheme="outline"></i>
      Выход
    </button>
  </div>

<div class="selected-box">

  <!--model-->
  <div class="example-input" *ngIf="uzauto && uzAutoModels">
    <nz-input-group nzSize="large" nzSearch  [nzAddOnAfter]="suffixIconButton">
      <input
        placeholder="selected model"
        nz-input
        (keyup.enter)="onChange($event)"
        [nzAutocomplete]="auto"
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSize="large" nzSearch
              (click)="onChange($event)"
              (keyup.enter)="onChange($event)">
        <i nz-icon nzType="search" nzTheme="outline"></i>
      </button>
    </ng-template>
    <nz-autocomplete #auto>
      <nz-auto-optgroup >

        <nz-auto-option *ngFor="let option of uzAutoModels" [nzLabel]="option.name" [nzValue]="option.filial_id">
          {{ option.name }}
        </nz-auto-option>

      </nz-auto-optgroup>
    </nz-autocomplete>
  </div>


  <!--filial-->
  <div class="example-input" *ngIf="uzauto &&  this.filialGroups">
    <nz-input-group nzSize="large" nzSearch  [nzAddOnAfter]="suffixIconButton">
      <input
        placeholder="selected Filials"
        nz-input
        (keyup.enter)="onChange($event)"
        [nzAutocomplete]="auto"

      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSize="large" nzSearch
              (click)="onChange($event)"
              (keyup.enter)="onChange($event)">
        <i nz-icon nzType="search" nzTheme="outline"></i>
      </button>
    </ng-template>
    <nz-autocomplete #auto>
      <nz-auto-optgroup >

        <nz-auto-option *ngFor="let option of filialGroups" [nzLabel]="option.name" [nzValue]="option.filial_id">
          {{ option.name }}
        </nz-auto-option>

      </nz-auto-optgroup>
    </nz-autocomplete>
  </div>


</div>


</div>
