[nz-button] {
  margin-right: 8px;

}

nz-button-group [nz-button] {
  margin-right: 0;
}
.main{
  width: 100%;
  height: 100%;
  //background: url("../../../assets/img/tahoe3.jpg")no-repeat center  ;
  background-size: cover;
  padding: 10px;
}
.card{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-block{
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: 1px 3px 18px 12px rgba(0, 144, 255, 0.2);
  -moz-box-shadow: 1px 3px 18px 12px rgba(0, 144, 255, 0.2);
  box-shadow: 1px 3px 18px 12px rgba(0, 144, 255, 0.2);

}

.pass-block{
  display: flex;
  align-items: center;
  justify-content: center;
   gap: 0 50px
}

.cancel-group{
  width: 100%;
  margin-bottom: 10px;
}

.example-input{
  width: 300px;
}

::ng-deep .search-block {
  cursor: pointer !important;
  border: none;
  background: #1890FF;
}

.selected-box {
  display: flex;
  gap: 0 20px;
}

///////
